.img {
  &-avatar {
    @include imgformat;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  &-frame {
    @include imgformat;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
  }
  &-logo {
    @include imgformat;
  }
}

.logo {
  @media (min-width: $break-m) {
    margin-left: initial;
    margin-right: initial;
  }
}