  $headline-color: #58e1c1;
  $link-color: #51ddfc;
  $theme-color-1: #927bc1;
  $theme-color-1-light: lighten($theme-color-1, 15%);
  $theme-color-2: #fd7856;
  $theme-color-2-light: lighten($theme-color-2, 15%);
  $theme-color-3: #deb2ee;
  $theme-color-4: #7ee6fd;
  $theme-color-5: #88d9a0;
  $theme-color-6: #4da2bb;
  $theme-color-7: #ec9fa3;
  $theme-color-8: #fd9f85;
  $theme-color-9: #e4757a;
  $theme-color-9-light: lighten($theme-color-9, 15%);
  $theme-color-10: #63cc82;
  $theme-color-10-light: lighten($theme-color-10, 15%);
  $theme-color-11: #51ddfc;
  $theme-color-11-light: lighten($theme-color-11, 15%);
  $theme-color-12: #80e8d1;
  $color-white: #fff;
  $font-color: #777; 

* {
    font-family: 'Lato', sans-serif;
    color: $font-color;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }

  .headline-primary {
    color: $headline-color;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $font-color;
  }
  
  .link {
    color: $theme-color-11;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $headline-color;
    border-radius: 5px;
  }